<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url='{{ redirect.to }}'" />
  </head>
  <body>
    Redirecting to <a href="{{ redirect.to }}">{{ redirect.to }}</a>
  </body>
</html>
