{% if content | toc %}
<nav class="mb-3 d-xl-none" data-pagefind-ignore="all">
  <details class="collapse-panel">
    <summary class="d-block d-flex justify-content-between align-items-center py-2 w-full collapse-header">
      <span class="antialiased">On this page</span>
    </summary>
    <div id="toc" class="collapse-content">
      {{ content | toc | safe }}
    </div>
  </details>
</nav>
{% endif %}
